<div class="container mt-4">
  <h3>{{ isEdit ? 'Edit' : 'Add' }} Product</h3>

  <form #productForm="ngForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="name" class="form-label">Product Name</label>
      <input [(ngModel)]="product.name" name="name" required id="name" class="form-control" required placeholder="Enter Product Name" #nameRef="ngModel"/>

      <div class="text-danger mt-1" *ngIf="nameRef.invalid && nameRef.touched">
      Product name is required.
      </div>
    </div>
    
    <div class="mb-3">
    <label class="form-label">Product Category</label>
      <select [(ngModel)]="product.category" name="category" required id="category" required class="form-select" #categoryRef="ngModel" >
        <option value="">-- Select Category --</option>
        <option value="fruits">Fruits</option>
        <option value="vegetables">Vegetables</option>
        <option value="flowers">Flowers</option>
        <option value="meat">Meat</option>
      </select>

      <div class="text-danger mt-1" *ngIf="categoryRef.invalid && categoryRef.touched">
      Product category is required.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Product Price</label>
        <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" [(ngModel)]="product.price" name="price" required placeholder="Enter Price" #priceRef="ngModel"/>
        </div>
      <div class="text-danger mt-1" *ngIf="priceRef.invalid && priceRef.touched">
      Product price is required.
      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">💾 Save</button>
    <a routerLink="/" class="btn btn-secondary ms-2">Cancel</a>
  </form>
</div>
